.main {
    width: 80%;
    height: 90%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--tile-margin);
    flex-wrap: wrap;
}

.followers_tiles_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.followers_tile {
    width: var(--tile-width);
    height: var(--followers-tile-height);
    margin: var(--tile-margin);
    border-radius: 5px;
}

.followers_tile_content {
    height: 100%;
    width: 100%;
    padding: var(--tile-padding);
    margin-top: 5px;
    background-color: var(--card-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


}

/* TODO - Set the borders of the tiles to the right color */
#facebook {
    background: var(--facebook-border-color);
}

#twitter {
    background: var(--twitter-border-color);
}

#instagram {
    background: var(--instagram-border-color);
}

#youtube {
    background: var(--youtube-border-color);
}

.followers_tile_title {
    /* width: 70%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.followers_tile_title p {
    margin-left: 10px;
    font-weight: bolder;
    font-size: small;
    color: var(--text-main);
}

.followers_tile_amount h1 {
    font-size: 50px;
    color: var(--text-main);
    display: flex;
    justify-content: center;
}

.followers_tile_amount h2 {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--text-legend);
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.followers_growing_up {
    font-weight: bolder;
    font-size: small;
    color: var(--lime-green);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.followers_growing_down {
    font-weight: bolder;
    font-size: small;
    color: var(--bright-red);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.growing_arrow {
    margin-right: 3px;
}


.overview_tiles_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.overview_display_title {
    margin: var(--tile-margin);
    font-size: 23px;
}

.overview_tile {
    width: var(--tile-width);
    height: var(--overwiew-tile-height);
    margin: var(--tile-margin);
    padding: var(--tile-padding);
    background-color: var(--background-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-around;
}

.overview_tile_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.overview_tile h1 {
    font-size: small;
    font-weight: 800;
}

.overview_tile_today_growth {
    width: 100%;
    font-size: 25px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
}

.overview_growing_up {
    font-weight: bolder;
    font-size: small;
    color: green;
    display: flex;
    align-items: flex-end;
}

.overview_growing_down {
    font-weight: bolder;
    font-size: small;
    color: red;
    display: flex;
    align-items: flex-end;
}

.dark_mode_container {
    width: 120px;
    display: flex;
    font-size: small;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
}

.dark_theme_toggle {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    padding: 1px;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    /* background: var(--toggle-background-color); */
    justify-content: var(--toggle-position);
}

.dark_theme_toggle_btn {
    height: 15px;
    width: 15px;
    margin: 2px;
    border-radius: 50%;
    border-color: var(--background-color);
    background-color: var(--background-color);
}

.dark_theme_toggle_input {
    width: 100%;
    height: 100%;
    opacity: 0;

}